name: Test workflow

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1.5.3
      with:
        flutter-version: '2.8.1'
    - run: flutter pub get
    - name: Test
      run: flutter test --coverage
    - name: Exclude generated files from coverage
      run: dart pub run remove_from_coverage -f coverage/lcov.info -r '\.g\.dart$'
    - name: Collect and report coverage
      uses: coverallsapp/github-action@v1.1.2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}